######################
# Eclipse
######################
.project
.cproject
.settings/

######################
# C/C++
######################
*.o

######################
# IntelliJ IDEA
######################
.idea/

######################
# Windows
######################
Thumbs.db
Desktop.ini

######################
# OSX
######################
.DS_Store
.svn
._*
.Spotlight-V100
.Trashes

######################
# Other
######################
smiley
